<footer class="bg-gray-100 py-6 px-4 mt-auto">
    <div class="max-w-screen-xl mx-auto">
        <!-- Quote Section -->
        <div class="mb-6 text-center">
            <blockquote class="text-sm italic text-gray-600">
                {{ quote['quote'] if quote else 'I aspire to be proud anytime I talk about my friends.' }}
            </blockquote>
            <cite class="text-xs text-gray-500 mt-2 block">
                — {{ quote['author'] if quote else 'Julian Serra' }}
            
        </div>

        <div class="flex flex-col items-center space-y-4">
            <!-- About Section -->
            <div class="text-center">
                
                <!-- Connect Section -->
                <div class="flex justify-center space-x-4 mb-4">
                    <a href="{{links['linkedin']}}" class="text-gray-600 hover:text-gray-800" aria-label="LinkedIn">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                    <a href="{{links['instagram']}}" class="text-gray-600 hover:text-gray-800" aria-label="Instagram">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a href="{{links['github']}}" class="text-gray-600 hover:text-gray-800" aria-label="GitHub">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                    <a href="{{links['song']}}" class="text-gray-600 hover:text-gray-800" aria-label="Spotify">
                        <i class="fab fa-spotify fa-lg"></i>
                    </a>
                    <a href="{{links['email']}}" class="text-gray-600 hover:text-gray-800" aria-label="Email">
                        <i class="fas fa-envelope fa-lg"></i>
                    </a>
                    
                </div>

                <div class="w-full max-w-xs">
                    <stripe-buy-button
                        buy-button-id="buy_btn_1PfAB0EWKiTQAVYhmJ1pwS2j"
                        publishable-key="pk_live_UovDgsKFBhXPaFjI6UPIeMUh00PYcynzPp">
                    </stripe-buy-button>
                </div>
                
            </div>
        </div>

        <!-- Copyright -->
         
        <div class="mt-6 pt-6 border-t border-gray-200 text-center">
            <a href="/"> <div class="flex justify-center space-x-4">
                <div class="logo-container p-2 flex items-center justify-center w-20 h-20">
                    <img src="/static/icons/jsw.png" alt="Julian Serra" class="logo">
                </div>
            </div></a>
            <p class="text-xs text-gray-600">&copy; {{year}} Julian Serra. All rights reserved.</p>
        </div>
    </div>
</footer>