{% extends "layout.html" %}
{% block content %}
            
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- add padding so the content doesn't touch the edges of the screen -->
        <br><br>
        <main id="content" class="bg-white rounded-lg shadow p-6 mb-8">
            <!-- upper case the python var -->
                <h1 class="markdown text-xl font-bold  mb-4"> {% if page %} {{page.title}} {% else %} I could not find the page you're looking for :/  {% endif %}</h1>
                <div list-disc list-inside text-left text-lg>
                    <ul class="list-disc list-inside text-left text-lg">
                        {% if page %}
                        {% for text in page.content %}
                        <li class="mb-2">{{text}}</li>
                        {% endfor %}
                        {% endif %}
                </div>
                </main>

        
{% endblock %}
    
</body>
</html>
