{% extends "layout.html" %}
{% block content %}
            <!-- UP TO HERE FOR DEFAULT HEADER -->
            <br>
            <main id="content" class="bg-white rounded-lg shadow p-6 mb-8">
                    <div class="profile-img-container">
                    <a href='/about'>
                    <img id="profile-picture" src="{{profile_photo}}" 
                    alt="Julian Serra" 
                    class="profile-img rounded-full mx-auto mb-4"></a>
                </div>
                </a>
                <br>    
                <h1 class="text-3xl font-bold mb-2">Julian Serra</h1>
                <p class="text-gray-600 mb-4">{{bio}}</p>
                <div class="flex justify-center space-x-4 social-icons">
                    <a href="{{links['linkedin']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-linkedin"></i></a>
                    <a href="{{links['instagram']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-instagram"></i></a>
                    <a href="{{links['github']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-github"></i></a>
                    <a href="{{links['song']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-spotify"></i></a>
                    <a href="{{links['email']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-at"></i></a>
                    <!-- <a href="{{links['stripe']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-dollar"></i></a> -->
                </div>
            </div> 
            </main>
            
            <!-- <main id="content" class="bg-white rounded-lg shadow p-6 mb-8">
                
            </main> -->
            
            <div id="chat-container" class="bg-white rounded-lg shadow p-6 mt-8">
                <!-- hide the chat-messages container to begin with -->
            
                <div id="chat-messages" class="h-64 overflow-y-auto mb-4 p-2 border border-gray-200 rounded " style="display:none">
                </div>
                <div id="chat-input">
                    <form id="chat-form" class="flex items-left rounded">
                        <input type="text" id="user-input" class="flex-grow p-2 border border-gray-300 rounded-l"
                            placeholder="Type your message...">
                        <button type="submit" id="send-button" class="bg-blue-500 text-white px-4 py-2 rounded-r">Send</button>
                    </form>
                </div>
                <div class="mt-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" id="voice-toggle" class="form-checkbox">
                        <span class="ml-2">Listen to my voice!</span>
                    </label>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow p-6 mt-8 mb-8 text-center">
                <a href="/create_voice" class="center bg-blue-500 text-white font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-blue-700 transition duration-300 ease-in-out">
                    <i class="fas fa-microphone mr-2"></i>Create Your Own Bot
                </a>
            </div>
        {% endblock %}

        
        {% block scripts %}
        <script>

            //FOR CHATBOT FUNCTIONALITY
            const chatMessages = document.getElementById('chat-messages');
            const chatForm = document.getElementById('chat-form');
            const userInput = document.getElementById('user-input');
            const sendButton = document.getElementById('send-button');
            const loader = document.getElementById('loader');
            const voiceToggle = document.getElementById('voice-toggle');

            chatForm.addEventListener('submit', async (e) => {
                // remove the style display none attribute of chatmessages
                chatMessages.style.display = '';
                e.preventDefault();
                if (userInput.value) {
                    addMessage(userInput.value, 'user-message');
                    sendButton.disabled = true;
                    userInput.disabled = true;
                    try {
                        const response = await fetch('/chat', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ message: userInput.value , audio: voiceToggle.checked }),
                        });

                        const data = await response.json();
                        handleResponse(data);
                    } catch (error) {
                        console.error('Error:', error);
                        addMessage('An error occurred. Please try again.', 'bot-message');
                    }
                    sendButton.disabled = false;
                    userInput.disabled = false;
                    userInput.value = '';
                }
            });

            function handleResponse(data) {
                addMessage(data.data, 'bot-message');
                console.log("Received data:", data);

                if (data.audio_url && voiceToggle.checked) {
                    console.log("Audio URL received:", data.audio_url);
                    const audio = new Audio(data.audio_url);
                    
                    console.log("Audio can play through");
                    audio.play().catch(error => {
                        console.error('Audio playback error:', error);
                    });
                    
                    audio.onerror = (e) => {
                        console.error('Audio loading error:', e);
                    };
                } else {
                    console.log("No audio URL received or voice toggle is off");
                }
            }

            function addMessage(text, className) {
                const message = document.createElement('div');
                message.textContent = text;
                message.classList.add('message', className);
                chatMessages.appendChild(message);
                chatMessages.scrollTop = chatMessages.scrollHeight;
            }      
            
            // // change the photo on hover
            // const profilePicture = document.getElementById('profile-picture');
            // profilePicture.addEventListener('mouseover', () => {
            //     profilePicture.src = "{{hover_photo}}";
            // });
            // //reset the photo when the mouse leaves
            // profilePicture.addEventListener('mouseleave', () => {
            //     profilePicture.src = "{{profile_photo}}";
            // });

        
        </script>
        {% endblock %}
    </body>
    </html>