{% extends "layout.html" %}
{% block content %}
            <!-- UP TO HERE FOR DEFAULT HEADER -->
            <main id="content" class="bg-white rounded-lg shadow p-6 mb-8">
                <div class="profile-img-container">
                    <a href='/about'>
                        <img id="profile-picture" src="{{profile_photo}}" 
                            alt="Julian Serra" 
                            class="profile-img rounded-full mx-auto mb-4">
                    </a>
                </div>
                <div class="text-center mb-4">
                    <h1 class="text-3xl font-bold mb-2">Julian Serra</h1>
                    <a href="/about" class="inline-block px-4 py-1 text-sm text-gray-600 bg-gray-200 rounded-lg hover:bg-gray-400 transition-colors duration-200">
                        About me
                    </a>
                    <a href="/projects" class="inline-block px-4 py-1 text-sm text-gray-600 bg-gray-200 rounded-lg hover:bg-gray-400 transition-colors duration-200">
                        My Projects
                    </a>
                </div>
                <p class="text-gray-600 mb-4">{{bio}}</p>
                <div class="flex justify-center space-x-4 social-icons">
                    <a href="{{links['linkedin']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-linkedin"></i></a>
                    <a href="{{links['instagram']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-instagram"></i></a>
                    <a href="{{links['github']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-github"></i></a>
                    <a href="{{links['song']}}" class="text-blue-500 hover:text-blue-700"><i class="fab fa-spotify"></i></a>
                    <a href="{{links['email']}}" class="text-blue-500 hover:text-blue-700"><i class="fas fa-at"></i></a>
                    <!-- <a href="{{links['stripe']}}" class="text-blue-500 hover:text-blue-700"><i class="fas fa-dollar-sign"></i></a> -->
                </div>
            </main>
            
            <!-- <main id="content" class="bg-white rounded-lg shadow p-6 mb-8">
                
            </main> -->
            
            <div id="chat-container" class="bg-white rounded-lg shadow p-6 mt-8">
                <!-- hide the chat-messages container to begin with -->
            
                <div id="chat-messages" class="h-64 overflow-y-auto mb-4 p-2 border border-gray-200 rounded " style="display:none">
                </div>
                <div id="chat-input">
                    <form id="chat-form" class="flex items-left rounded">
                        <input type="text" id="user-input" class="flex-grow p-2 border border-gray-300 rounded-l"
                            placeholder="Type your message...">
                        <button type="submit" id="send-button" class="bg-blue-500 text-white px-4 py-2 rounded-r">Send</button>
                    </form>
                </div>
                <div class="mt-4">
                    <label class="inline-flex items-center">
                        <div class="flex items-center bg-blue-100 hover:bg-blue-200 transition-colors duration-200 p-2 rounded-md cursor-pointer">
                            <input type="checkbox" id="voice-toggle" class="form-checkbox h-4 w-4 text-blue-600">
                            <span class="ml-2 text-blue-800 text-sm font-medium">Click to listen to my voice!</span>
                            <i class="fas fa-volume-up ml-1 text-blue-600 text-sm"></i>
                        </div>
                    </label>
                </div>
            </div>

                <!-- Spotify Playlist Section -->
                <div class="mt-8">
                    <div class="bg-gradient-to-br from-green-50 to-green-100 rounded-lg shadow-sm p-4 hover:shadow-md transition-shadow duration-300 border border-green-200">
                        <div class="flex items-center justify-between mb-3">
                            <h3 class="text-sm font-medium text-green-800"><span class="fab fa-spotify"></span> Listen to My Playlist</h3>
                        </div>
                        <div class="flex justify-center">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2DxkYKn7e8FRb9jz8GFPPK?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>                        </div>
                    </div>
                </div>
                <!-- New section for AI tool links -->
             <!-- Updated compact section for AI tool links with gradient background -->
             <div class="mt-8">
                <div class="bg-gradient-to-br from-indigo-50 to-indigo-100 rounded-lg shadow-sm p-4 hover:shadow-md transition-shadow duration-300 border border-indigo-200">
                    <div class="flex items-center justify-between mb-3">
                        <h3 class="text-sm font-medium text-indigo-800"><span class="fas fa-wand-magic-sparkles"></span> Try my AI-Powered Tools</h3>
                    </div>
                    <div class="flex space-x-3 text-xs">
                        <a href="/projects/generate_page" class="flex items-center justify-center bg-indigo-500 text-white py-1 px-2 rounded hover:bg-indigo-600 transition-colors duration-300">
                            <i class="fas fa-globe mr-1"></i>
                            <span>Webpage Creator</span>
                        </a>
                        <a href="/create_voice" class="flex items-center justify-center bg-indigo-500 text-white py-1 px-2 rounded hover:bg-indigo-600 transition-colors duration-300">
                            <i class="fas fa-microphone-alt mr-1"></i>
                            <span>Your Own Voice Bot</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}

        
        {% block scripts %}
        <script>

            //FOR CHATBOT FUNCTIONALITY
            const chatMessages = document.getElementById('chat-messages');
            const chatForm = document.getElementById('chat-form');
            const userInput = document.getElementById('user-input');
            const sendButton = document.getElementById('send-button');
            const loader = document.getElementById('loader');
            const voiceToggle = document.getElementById('voice-toggle');

            chatForm.addEventListener('submit', async (e) => {
                // remove the style display none attribute of chatmessages
                chatMessages.style.display = '';
                e.preventDefault();
                if (userInput.value) {
                    addMessage(userInput.value, 'user-message');
                    sendButton.disabled = true;
                    userInput.disabled = true;
                    try {
                        const response = await fetch('/chat', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ message: userInput.value , audio: voiceToggle.checked }),
                        });

                        const data = await response.json();
                        handleResponse(data);
                    } catch (error) {
                        console.error('Error:', error);
                        addMessage('An error occurred. Please try again.', 'bot-message');
                    }
                    sendButton.disabled = false;
                    userInput.disabled = false;
                    userInput.value = '';
                }
            });

            function handleResponse(data) {
                addMessage(data.data, 'bot-message');
                console.log("Received data:", data);

                if (data.audio_url && voiceToggle.checked) {
                    console.log("Audio URL received:", data.audio_url);
                    const audio = new Audio(data.audio_url);
                    
                    console.log("Audio can play through");
                    audio.play().catch(error => {
                        console.error('Audio playback error:', error);
                    });
                    
                    audio.onerror = (e) => {
                        console.error('Audio loading error:', e);
                    };
                } else {
                    console.log("No audio URL received or voice toggle is off");
                }
            }

            function addMessage(text, className) {
                const message = document.createElement('div');
                message.textContent = text;
                message.classList.add('message', className);
                chatMessages.appendChild(message);
                chatMessages.scrollTop = chatMessages.scrollHeight;
            }      
            
            // // change the photo on hover
            // const profilePicture = document.getElementById('profile-picture');
            // profilePicture.addEventListener('mouseover', () => {
            //     profilePicture.src = "{{hover_photo}}";
            // });
            // //reset the photo when the mouse leaves
            // profilePicture.addEventListener('mouseleave', () => {
            //     profilePicture.src = "{{profile_photo}}";
            // });

        
        </script>
        {% endblock %}
    </body>
    </html>