<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julian Serra</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- import styles.css from static directory -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="/_vercel/insights/script.js"></script>
    <script async src="https://js.stripe.com/v3/buy-button.js"></script>
    <meta name="referrer" content="no-referrer">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
     


</head>
<!-- START HERE FOR DEFAULT HEADER -->

<body class="bg-gray-100 font-sans">
    <div class="iphone-container">
        <div class="dynamic-island"></div>
        <div class="iphone-content">
            <div class="container mx-auto px-4 py-8">
               
                <header class="text-center mb-8 relative flex justify-between items-center">
                    <button id="menu-toggle" class="p-2 text-blue-600 hover:text-blue-800">
                        <i class="fas fa-bars text-2xl"></i>
                    </button>
                    
                    <a href = "/"><div  class="logo-container p-2 flex items-center justify-center w-10 h-10">
                        <img src="/static/icons/j_icon.png" alt="Julian Serra" class="logo">
                    </div></a>

                    <div id="mobile-menu" class="fixed inset-0 z-50 hidden">
                        <div class="menu-overlay absolute inset-0 bg-black bg-opacity-30 backdrop-blur-sm transition-opacity duration-300 opacity-0"></div>
                        <div class="bg-white bg-opacity-90 backdrop-blur-sm w-72 h-full absolute left-0 top-0 slide-in p-6 shadow-lg">
                            <button id="close-menu" class="absolute right-4 top-4 text-gray-600 hover:text-gray-800">
                                <i class="fas fa-times text-2xl"></i>
                            </button>
                            <div class="mt-12">
                                <h2 class="text-2xl font-bold text-blue-600 mb-6">Menu</h2>
                                <ul class="space-y-4 text-left">
                                    <li><a href="/"
                                            class="menu-item block py-2 px-4 rounded-lg text-blue-600 hover:text-blue-800"><i
                                                class="fas fa-home mr-2"></i>Home</a></li>
                                    <li><a href="/about"
                                            class="menu-item block py-2 px-4 rounded-lg text-blue-600 hover:text-blue-800"><i
                                                class="fas fa-address-card mr-2"></i>About Me</a></li>
                                    <li><a href="/voices"
                                        class="menu-item block py-2 px-4 rounded-lg text-blue-600 hover:text-blue-800"><i
                                            class="fas fa-robot mr-2"></i>Make your own bot!</a></li>
                                    {% if sidebar_items %}
                                    {% for page in sidebar_items %}
                                    <li><a href={{page['title']}}
                                        class="menu-item block py-2 px-4 rounded-lg text-blue-600 hover:text-blue-800"><i
                                            class="fas {{page['icon']}} mr-2"></i>{{page['title']}}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                    <li><a href="emails"
                                        class="menu-item block py-2 px-4 rounded-lg text-blue-600 hover:text-blue-800"><i
                                            class="fas fa-signature mr-2"></i>Email Signature</a></li>
                                    <li><a href="/golf"
                                        class="menu-item block py-2 px-4 rounded-lg text-blue-600 hover:text-blue-800"><i
                                            class="fas fa-golf-ball-tee mr-2"></i>Golf</a></li>
                                    <li><a href="{{links['stripe']}}"
                                        class="menu-item block py-2 px-4 rounded-lg text-blue-600 hover:text-blue-800"><i
                                            class="fas fa-dollar mr-2"></i>Just the Tip</a></li>
                                    
                                </ul>
                            </div>
                            <div class="absolute bottom-8 left-6 right-6">
                                <div class="flex justify-center space-x-4">
                                    <a href="{{links['linkedin']}}" class="text-blue-500 hover:text-blue-700"><i
                                            class="fab fa-linkedin fa-2x"></i></a>
                                    <a href="{{links['instagram']}}" class="text-blue-500 hover:text-blue-700"><i
                                            class="fab fa-instagram fa-2x"></i></a>
                                    <a href="{{links['github']}}" class="text-blue-500 hover:text-blue-700"><i
                                            class="fab fa-github fa-2x"></i></a>
                                    <a href="{{links['email']}}" class="text-blue-500 hover:text-blue-700"><i
                                            class="fab fa-at fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="text-center">
                    <!-- UP TO HERE FOR DEFAULT HEADER -->
                    {% block content %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
    
    <!-- import footer.html using flask -->

    {% include 'footer.html' %}



    <script>
        //   DEFAULT SCRIPT FOR HEADER/MENU FUNCTIONALITY
        const menuToggle = document.getElementById('menu-toggle');
    const closeMenu = document.getElementById('close-menu');
    const mobileMenu = document.getElementById('mobile-menu');
    const menuOverlay = mobileMenu.querySelector('.menu-overlay');
    const slideInMenu = mobileMenu.querySelector('.slide-in');

    function openMenu() {
        mobileMenu.classList.remove('hidden');
        setTimeout(() => {
            menuOverlay.classList.add('opacity-100');
            slideInMenu.style.transform = 'translateX(0)';
        }, 10);
    }

    function closeMenuFunc() {
        menuOverlay.classList.remove('opacity-100');
        slideInMenu.style.transform = 'translateX(-100%)';
        setTimeout(() => {
            mobileMenu.classList.add('hidden');
        }, 300);
    }

    menuToggle.addEventListener('click', openMenu);
    closeMenu.addEventListener('click', closeMenuFunc);
    menuOverlay.addEventListener('click', closeMenuFunc);

    window.addEventListener('resize', () => {
        if (window.innerWidth >= 640) {
            closeMenuFunc();
        }
    });

    </script>

    {% block scripts %}

    {% endblock %}
</body>

</html>