{% extends "layout.html" %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-8">My Projects</h1>

    <div class="space-y-8">
        <!-- AI Page Generator section with New badge and enhanced styling -->
        <div class="bg-white rounded-lg shadow-md p-6 relative overflow-hidden">
            <div class="absolute rounded-lg top-1 right-1 bg-red-500 text-white text-xs px-2 py-1 transform">New</div>
            <h2 class="text-2xl font-semibold mb-4">
                <i class="fas fa-wand-magic-sparkles mr-2"></i>AI Page Generator
            </h2>
            
            <p class="mb-4">Ask an AI to build a web-page for this website. Try our cutting-edge technology now!</p>
            <a href="/projects/generate_page" class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Build Your Page</a>
        </div>

        <!-- Make your own bot section -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold mb-4">
                <i class="fas fa-robot mr-2"></i>AI Voice Bot
            </h2>
            <p class="mb-4">Interact with an AI that uses your voice! Set it up in seconds.</p>
            <a href="/projects/voices" class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Learn More</a>
        </div>
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold mb-4">
                <i class="fas fa-ring mr-2"></i>Wedding Registry
            </h2>
            <p class="mb-4">A cheap, easy to use, high conversion Wedding Registry for LATAM (MX, BR) </p>
            <a href="https://www.regalesa.com/" class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Get Married!</a>
        </div>
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold mb-4">
                <i class="fas fa-signature mr-2"></i>Email Signature
            </h2>
            <p class="mb-4">Design a professional email signature that represents you or your brand effectively.</p>
            <a href="/projects/emails" class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Create Signature</a>
        </div>
        <!-- Website -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold  mb-4">
                <i class="fas fa-code-fork mr-2"></i> This Website
            </h2>
            <p class="mb-4">Fork my website and make your own, personal page with Voice Chat!</p>
            <a href="https://github.com/julyanserra/julianserra" class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Fork it</a>
        </div>

        <!-- Dynamic sections for other projects -->
        {% for project in projects %}
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-semibold  mb-4">
                <i class="fas {{ project.icon }} mr-2"></i>{{ project.title }}
            </h2>
            <p class="mb-4">{{ project.description }}</p>
            <a href="{{ project.url }}" class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">View Project</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}