{% extends "layout.html" %}
{% block content %}
            
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- add padding so the content doesn't touch the edges of the screen -->
        <br><br>
        <main id="content" class="bg-white rounded-lg shadow p-6 mb-8">
                <h1 class="markdown text-xl font-bold  mb-4">My sports takes:</h1>
                
                <ul class="list-disc list-inside text-left text-lg">
                    {% if content %}
                    {% for text in content %}
                    <li class="mb-2">{{text}}</li>
                    {% endfor %}
                    {% else %}
                    <!-- default takes -->
                    <li class="mb-2">The best team in the world is FC Barcelona</li>
                    <li class="mb-2">The worst team in the world Mexican National Team, but we'll get better</li>
                    <li class="mb-2">Tadej Pogačar is the greatest cyclist in history </li>
                    <li class="mb-2"> Tiger Woods is the best golfer of all time </li>
                    {% endif %}
                </ul>
                </main>

                <!-- <div class="flex justify-center space-x-4 social-icons">
                    <a  class="text-blue-500 hover:text-blue-700"><i class="fab fa-futbol"></i></a>
                    <a  class="text-blue-500 hover:text-blue-700"><i class="fab fa-golf-ball"></i></a>
                    <a  class="text-blue-500 hover:text-blue-700"><i class="fab fa-bicycle"></i></a>
                    <a  class="text-blue-500 hover:text-blue-700"><i class="fab fa-running"></i></a>
                </div> -->
        
{% endblock %}
    
</body>
</html>
