{% extends "layout.html" %}
{% block content %}
            
        
        <main id="content" class="bg-white rounded-lg shadow p-6 mb-8">
            <!-- Add markdown display -->
            <div class="markdown">
                <h1 class="bold">Don't talk to me if you dont like: </h1>
                <ul class="text-left">
                    <li>- FC Barcelona </li>
                    <li>- Mexican National Team</li>
                    <li>- Tadej Pogacar</li>
                </ul>
        </main>
{% endblock %}
    
</body>
</html>