{% extends "layout.html" %}
{% block content %}
            
        
        <main id="content" class="bg-white rounded-lg shadow p-6 mb-8">
            <!-- Add markdown display -->
            <div class="markdown">
                <h1 class="bold">My Core Tenets</h1>
                <ul class="text-left">
                    <li>- Be good</li>
                    <li>- Live up to your potential</li>
                    <li>- Uplift those around you</li>
                    <li>- Laugh at everything you possibly can</li>
                    
                    <li>- Be open, but have conviction</li>
                    <li>- Be honest with yourself</li>
                </ul>
        </main>

        {% endblock %}

</body>
</html>